---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import BlogLayout from "src/layouts/BlogLayout.astro";

export const getStaticPaths = (async() => {

    //getCollection blog
    const blogPosts = await getCollection('blog');
    
    return blogPosts.map(post => ({
        params: {slug: post.slug},
        props: {post: post}
    }))
 /*    return [{
        params:{slug: 'post-01'},
        props: {title: 'Primer Post' }
    }]; */
}) satisfies GetStaticPaths;

const {post} = Astro.props;
const frontmatter = post.data;

const {Content, headings} = await post.render()

---
<BlogLayout title={frontmatter.title}>title
    <h1 class="text-xs text-gray-500 mb-0">{frontmatter.title}</h1>
    <h1 class="text-xl text-gray-500 mb-0">{frontmatter.author}</h1>

    <Image class="object-cover w-full h-[250px] my-5 rounded-md" src={frontmatter.image} alt={frontmatter.title} width={600} height={220} quality="low" loading="lazy" 
    transition:name={`${post.slug}-image`}/>


<!-- Tabla de contenidos -->
 <h3>Tabla de contenidos</h3>
 <ol>
    {
        headings.map((heading, index) => (
            <li>
                <a href={`#${heading.slug}`}>
                    {index + 1} -{heading.text}
                </a>
            </li>
        ))
    }
 </ol>

<!-- Content -->
 <Content />

<div>
    <a href="#btn-back"> ir Arriba</a>
</div>

</BlogLayout>